<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293747131452-92o1sagc4257ckrm96ub3gt8ho8fiqji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293747131452-92o1sagc4257ckrm96ub3gt8ho8fiqji</string>
	<key>API_KEY</key>
	<string>AIzaSyAmieJIYVhTpNW-Yz2OMNlk-BcAPf80FXg</string>
	<key>GCM_SENDER_ID</key>
	<string>293747131452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rihammastour.Lafeef</string>
	<key>PROJECT_ID</key>
	<string>lafeef-7ce60</string>
	<key>STORAGE_BUCKET</key>
	<string>lafeef-7ce60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293747131452:ios:3d6fa0cf1060acc3af6f39</string>
</dict>
</plist>